
.table-custom td, .table-custom th{
    border:1px #899bbd solid;
  
   
}
.th{
    width: 10px;
}

.hover:hover{
    background-color: #394a7b !important;
}

.hover{
    border: none;
    background-color: orange !important;
}
.tombol{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;
    

}
.tombol-kiri{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;

}
.tombol button, .tombol-kiri button{
    background: #415798;

}

a.btn.btn-primary {
    background: orange;
    border: none;
    margin-right: 20px
}
.container-card{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.checkbox{background-color:#fff;display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid #ccc}